* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-question {
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.quote-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c757d;
  padding: 8px;
}

.btn, .card {
  margin: 8px 0;
}

span {
  display: block;
  float: right;
  margin: 4px 0;
  font-size: 80%;
  color: #6c757d;
}
.card-response {
  margin: 4px 10px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  position: relative;
}
.card-response::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 4px solid tomato;
  z-index: 1;
}

.card-body {
  padding: 1rem;
}

.navbar form {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.navbar form input, button {
  padding: 8px;
  border: none;
  outline-style: none;
}

.navbar form input {
  width: 350px;
  border-radius: 4px 0 0 4px;
}

.navbar form button {
  width: 40px;
  border-radius: 0 4px 4px 0;
  background: white url('../img/lupa.jpg') no-repeat right;
  background-size: contain;
}
